.pull-right {
	float: right !important;
	position: absolute;
	right: 30px;
}

.pull-left {
	float: left !important;
	position: absolute;
	left: 60px;
}

.item-title {
	color:#01524A !important;
}